<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<br>
<% include master/masterPage.ejs%>
<h1>Welcome to <%= title %> Page</h1>


</body>
</html>
